name: Continuous integration example

on: 
  pull_request:

jobs:

  test:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ macos-latest, windows-latest, ubuntu-latest ]
        java : ['11', '17', '21', '22']
    name : Java ${{matrix.java}} sample
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK ${{matrix.java}}
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: ${{matrix.java}}
      - run: mvn test